<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi! your video, <%= @video.original_file_name %></h1>
<p>
  You have successfully upload a video in smarttools.com<br>
</p>
<p>
  <%= url_for @video %>
</p>
<p>Thanks for sharing and have a great day!</p>
</body>
</html>