<h1>SMART TOOLS</h1>
<p>
  We are a company that allows you to get the best relationship with your clients through video contests.
</p>
<p>You will share the most creative ways to understand why your clients love or hate your products.</p>
<p>Everything in just one site.</p>
<p>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#userRegisterForm">JOIN US !!!</button>
</p>
